/* section[aria-label="Page not found"] h1{
    font-size: var(--fs-h2);
    font-weight:var(--fw-bold);
    text-align:center;
    margin: var(--sp-xl) 0;
}
section[aria-label="Page not found"] p{
    font-size: var(--fs-body);
    text-align:center;
    margin: 0 var(--sp-3xl);
}
blockquote{
    padding: 5rem 5rem;
}
blockquote img:first-of-type{
    display: block;
    width: 4rem;
    height: auto;
    margin-right: auto;
    margin-bottom: var(--sp-lg);
}
blockquote img:last-of-type{
    display: block;
    width: 4rem;
    height: auto;
    transform: rotate(180deg);
    margin-left: auto;
    margin-top: var(--sp-lg);
}
blockquote p:first-of-type{
    font-size: var(--fs-h4);
    font-weight: var(--fw-bold);
    padding: 0 3rem;
    text-align: center;
}
cite{
    font-size: var(--fs-body);
    margin-top: var(--sp-xl);
    padding: 0 7rem;
    text-align:right;
} */