/* main - section 1: hero */
section[aria-label="About Us hero"]{
    position:relative;
}
section[aria-label="About Us hero"] img{
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: var(--sp-xl);
}
section[aria-label="About Us hero"] h1{
    position: absolute;
    top: 18%;
    left: 8%;
    font-size: var(--fs-h2);
}
/* main - section 2: Quotes */
section[aria-label="Meet the team"] h2{
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
    text-align: center;
}
.section-lead{
    font-size: var(--fs-body);
    text-align: center;
    margin: var(--sp-xl) 15rem;
}

section[aria-label="Meet the team"] ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--sp-md);
    row-gap: var(--sp-2xl);
    margin: var(--sp-2xl) var(--sp-xl);
}
section[aria-label="Meet the team"] li{
    width: calc(33% - 2* var(--sp-md));
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section[aria-label="Meet the team"] li img{
    display: block;
    width: 60%;
    margin: 0 auto;
}
section[aria-label="Meet the team"] li h3{
    font-size: var(--fs-h6);
    font-weight: var(--fw-bold);
    text-align: center;
    margin: var(--sp-md) 0;
}
section[aria-label="Meet the team"] li p{
    font-size: var(--fs-body);
    text-align: center;
    width: 60%;
    margin: 0 auto;
}
/* main - section 3: BG */
