@import './variable.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:var(--font-primary);
    line-height: var(--lh-body);
}

/* default values not listed: 
    font-weight: var(--fw-regular);
*/

body {
    background-color: var(--light-base-color);
    color: var(--light-text-color);
    margin: 0;
    padding: 2.5rem 4.5rem;
    display: flex;
    flex-direction: column;
    gap: var(--sp-xl);
}

/* header */
header {
    padding: 1.4rem 0;
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.logo {
    width: auto;
    height: 1.5rem;
}
/* header - navigation bar */
header nav {
    align-items: center;
}
/* header - navigation bar - links */
header nav ul{
    list-style: none;
    display: flex;
    gap: 1.5rem;

    font-size: var(--fs-nav);
    font-weight: var(--fw-semibold);
}

header nav ul a{
    text-decoration: none;
    color: var(--light-text-color);
    text-align: right;
}

/* btn styles */
.btn {
    display: inline-block;
    margin: 1.5rem 0;
    padding: 0.75rem 3.5rem;
    text-align: center;
    text-decoration: none;
    font-size: var(--fs-button);
    font-weight: var(--fw-regular);
    cursor: pointer;    
    border: none;
}

.btn-s1{
    background-color: black;
    color: white;
}
.btn-s1:hover {
    background-color: var(--accent-red);
}

.btn-s2{
    background-color: black;
    color: white;
}
.btn-s2:hover {
    background-color: var(--accent-red);
}


/* Footer */
footer {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 9rem;
    align-items: stretch;
    border-top: solid var(--light-text-color) 2px;
    padding: 2rem 0;
}
/* Footer - left column */
.footer-col-left {
   display: flex;
   flex-direction: column;
   gap: 2rem;
}

footer small {
    font-size: var(--fs-small);
}
/* Footer - navigation bar - links */
nav[aria-label= "Footer navigation"] ul{
    list-style: none;
    display: flex;
    gap: 1.5rem;

    font-size: var(--fs-body);
    font-weight: var(--fw-regular);
}
nav[aria-label= "Footer navigation"] ul a{
    text-decoration: none;
    color: var(--light-text-color);
    text-align: right;
}
/* Footer - right column */
.footer-col-right {
   display: flex;
   flex-direction: column;
   gap: 2rem;
   margin-right: 2rem;
}
.footer-tagline{
    font-size: var(--fs-h6);
    font-weight:var(--fw-bold);
}
.footer-credits {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 0.5rem;
   color: var(--footer-faded-color);
}
.footer-credits h2{
   font-size: var(--fs-tag);
   font-weight: var(--fw-regular);
   margin-bottom: 1rem;
}
.footer-credits p{
   font-size: var(--fs-body);
}
ul[aria-label="Social media links"]{
    list-style: none;
    display: flex;
    gap: 0.5rem;
}
ul[aria-label="Social media links"] img{
    width: 1.5rem;
    height: auto;
}