/* @import './variable.css'; */

/* main */
main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: var(--sp-xl);
}

/* main - hero section */
section[aria-label="Hero"] figure{
    position: relative;
}
section[aria-label="Hero"] img{
    display:block;
    width: 100%;
    height: auto;
}
section[aria-label="Hero"] figcaption{
    position: absolute;
    top: 18%;
    left: 8%;
}
section[aria-label="Hero"] figcaption p{
    font-size: var(--fs-h6);
    font-weight: var(--fw-bold);
}
section[aria-label="Hero"] figcaption h1{
    font-size: var(--fs-h1);
    margin-top: var(--sp-xl);
}

/* main - section: who was james joyce */
section[aria-label="Who was James Joyce?"] figure{
    position: relative;
}
section[aria-label="Who was James Joyce?"] img {
    display:block;
    width: 100%;
    height: auto;
}
section[aria-label="Who was James Joyce?"] figcaption{
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translateX(-50%);
}
section[aria-label="Who was James Joyce?"] figcaption h2{
    text-align: center;
    line-height: var(--lh-heading);
    font-size: var(--fs-h2);
}
section[aria-label="Who was James Joyce?"] figcaption p{
    text-align: center;
    font-size: var(--fs-body);
    margin-top: var(--sp-md);
}

/* main - section: about james joyce */
section[aria-label="About James Joyce"] {
    margin: var(--sp-md) var(--sp-3xl);
    display: grid;
    grid-template-columns: 1fr 1fr; /* !!change this to 1fr in mobile mode */
    gap: var(--sp-xl);
}
section[aria-label="About James Joyce"] p {
    font-size: var(--fs-body);
    font-weight: var(--fw-regular);
    line-height: var(--lh-body);
}
section[aria-label="About James Joyce"] a{
    margin: 1.5rem 0;
}
/* main - section: Joyce's Dublin photo gallery */
section[aria-label="Joyce's Dublin photo gallery"] h2 {
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
    margin-bottom: var(--sp-xl);
}
section[aria-label="Joyce's Dublin photo gallery"] figure {
    overflow: hidden;
}
section[aria-label="Joyce's Dublin photo gallery"] figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
section[aria-label="Joyce's Dublin photo gallery"] div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 20rem);
    gap: var(--sp-md);
}
section[aria-label="Joyce's Dublin photo gallery"] figure:nth-child(1) {
  grid-row: span 2;
}

section[aria-label="Joyce's Dublin photo gallery"] figure:nth-child(2) {
  grid-column: span 2;
}

section[aria-label="Joyce's Dublin photo gallery"] figure:nth-child(5) {
  grid-column: span 2;
}

section[aria-label="Joyce's Dublin photo gallery"] figure:nth-child(6) {
  grid-row: span 2;
}

