:root {
    /* Colors */
    --light-base-color: #fdfff5;/*BG*/
    --light-text-color: #37465E;
    --light-button-color: #37465E;
    --light-button-hover: #e2fdff;
    --light-accent-golden:#F2B769;
    --light-audio-bar: #D3D3C7;

    --dark-base-color: #37465E;/*BG*/
    --dark-text-color: #F2B769;
    --dark-button-color:#F2B769;
    --dark-button-hovern:#942823;
    --dark-accent:#fdfff5;
    --dark-audio-bar:#0E1D34;

    /* Font */
    --font-primary: "Epilogue", sans-serif;

    /* Font sizes */
    --fs-h1: 95px;
    --fs-h2: 72px;
    --fs-h3: 54px;
    --fs-h4: 40px;
    --fs-h5: 30px;
    --fs-h6: 23px;
    --fs-body: 17px;
    --fs-small: 13px;
    --fs-button: 23px;
    --fs-nav: 23px;
    --fs-tag: 23px;
    --fs-subheader: 23px;

    /* Font weight */
    --fw--bold: 700; /* headings */
    --fw--semibold: 600; /* navLink, subheader */
    --fw--medium: 500; /* body, btn, tags*/
    --fw--regular: 400; /* smallText */

    /* Line heights */
    --lh-heading: 120px;
    --lh-body: 120px;
}